<html lang="en">

<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
  <% if (user) {%>
    <div class="header-wrapper">
      <div class="head-item">
        <a class="home" href="/">MEMBERS MESSAGE BORAD</a>
      </div>
      <div class="wrapper">
        <div class="head-item flex">
          <a href="/message-create">New Message</a>
        </div>
        <div class="dropdown">
          <div class="dropbtn head-item flex">
            <%= user.username %>
          </div>
          <div class="dropdown-content">
            <a href="/member-status">Member Status</a>
            <a href="/admin-status">Admin Status</a>
          </div>
        </div>
        <div class="head-item flex">
          <a href="/log-out">Logout</a>
        </div>
      </div>
    </div>
    <% } else { %>
      <div class="header-wrapper">
        <div>
          <div class="head-item">
            <a class="home" href="/">MEMBERS MESSAGE BORAD</a>
          </div>
        </div>
        <div class="wrapper">
          <div class="head-item flex">
            <a href="/sign-up">Sign-up</a>
          </div>
          <div class="head-item flex">
            <a href="/login">Login</a>
          </div>
        </div>
      </div>
      <%}%>
        <% if (messages) { %>
          <div class="message-container">
            <% messages.forEach(function(message) { %>
              <div class="message-wrapper">
                <div class="row-container">
                  <div class="title">
                    <%= message.title %>
                  </div>
                  <% if (user && user.admin) { %>
                    <a href=<%=message.del_url %> class="button">X</a>
                    <% } %>
                </div>
                <div class="message">
                  <%= message.data %>
                </div>
                <div>
                  <% if (user && user.membershipstatus) { %>
                    <div>
                      User: <%= message.user.username %>
                    </div>
                    <%} else { %>
                      <div> User: anonymous</div>
                      <% } %>
                </div>
                <div>
                  <% if (user && user.membershipstatus) { %>
                    <div>
                      Posted: <%= message.formatted_date %>
                    </div>
                    <%} else { %>
                      <div> Posted: anonymous</div>
                      <% } %>
                </div>
              </div>
              <% }); %>
          </div>
          <% } %>
</body>

</html>